<div class="form">
    <h4>Паспортные данные</h4>
    <div class="row row-string">
        <div class="col-lg-4">
            <div class="form-group">
                <label>Тип документа</label>
                <input name="passport" class="form-control" placeholder="Пасспорт" disabled="disabled">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>Серия / Номер пасспорта</label>
                <input name="serial" class="form-control" ng-model="vm.fill.passport.serial" placeholder="1234 567890" mask="9999 999999" restrict="reject" clean="true" required>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>Дата выдачи пасспорта</label>
                <input type="date" name="date" class="form-control" ng-model="vm.fill.passport.date" placeholder="XX.XX.XXXX" required>
            </div>
        </div>
    </div>
    <div class="row row-string">
        <div class="col-lg-12 ">
            <div class="form-group">
                <label>Кем выдан пасспорт</label>
                <input name="owner" class="form-control" ng-model="vm.fill.passport.owner" placeholder="Как в документе" required>
            </div>
        </div>
    </div>
    <div class="row row-string">
        <div class="col-lg-6">
            <custom-upload index="1" doc="Скан первой страницы паспорта"></custom-upload>
        </div>
        <div class="col-lg-6">
            <custom-upload index="5" doc="Скан страницы паспорта с регистрацией"></custom-upload>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-lg-8 back-step">
            <a href ng-click="vm.backStep()" ng-if="vm.fill.step > 1 && vm.fill.step < 5">
                <i class="fa fa-arrow-left"></i>
                <span>Назад</span>
            </a>
        </div>
        <div class="col-lg-4">
            <button class="btn btn-kasko"
                    ng-disabled="!vm.fill.passport.serial || !vm.fill.passport.date || !vm.fill.passport.owner || vm.uploader1.queue.length === 0"
                    ng-click="vm.nextStep(2)">Продолжить</button>
        </div>
    </div>
</div>