<div id="filling-sidebar">
    <div class="waiter" ng-if="!vm.ready">
        <i class="fa fa-spin fa-circle-o-notch fa-5x"></i>
    </div>
    <div class="ready" ng-if="!vm.ready">
        <div class="filling-sidebar-body animated fadeIn">
            <div class="row filling-sidebar-header">
                <div class="col-lg-12">
                    <p class="insuranse-title">Предложение от СК "Согласие"</p>
                    <p class="car-title">Каско для Ford Fiesta ST</p>
                    <p class="car-desc">1.0 4MT (44 л.с.) 2015, 31 год. Стаж 4 года</p>
                </div>
            </div>
            <div class="row filling-sidebar-middle">
                <div class="col-lg-6">
                    <span class="fran-price">0 <i class="fa fa-ruble"></i></span>
                    <span class="fran-title">Франшиза</span>
                </div>
                <div class="col-lg-6">
                    <span class="distance-price">0 км.</span>
                    <span class="distance-title">Ежемесячный пробег</span>
                </div>
            </div>
            <hr/>
            <div class="row filling-current-price">
                <div class="col-lg-4">
                    <span class="price-title">Уточненная цена</span>
                </div>
                <div class="col-lg-8">
                    <span class="fran-price">77 200 <i class="fa fa-ruble"></i></span>
                </div>
            </div>
        </div>
        <div class="sidebar-tabs animated fadeIn">
            <ul>
                <li class="active">
                    <img class="tab-img" alt="Предложение от СК 'Согласие'" src="https://api.kaskonomika.ru/storage/80/80_0169981001497456942.png">
                    <span class="tab-price">77 200 <i class="fa fa-ruble"></i></span>
                </li>
                <li>
                    <img class="tab-img" alt="Предложение от СК 'Согласие'" src="https://api.kaskonomika.ru/storage/80/80_0169981001497456942.png">
                    <span class="tab-price">77 200 <i class="fa fa-ruble"></i></span>
                </li>
            </ul>
        </div>
    </div>

</div>