<div class="forms-area" ng-if="!vm.breakFilling">
    <div class="forms-header">
        <div class="row">
            <span class="numbera-area">{{vm.fill.step}}</span>
            <span class="title-area">Данные для заключение договора</span>
        </div>
    </div>
    <hr/>
    <div ng-if="vm.fill.step == 1 && !vm.regNow">
        <div class="form">
            <h4>Данные страхователя</h4>
            <div class="row row-string">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Фамилия</label>
                        <input class="form-control" ng-model="vm.fill.holder.firstName" placeholder="Фамилия" mask="!" limit="false" restrict="reject">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Имя</label>
                        <input class="form-control" ng-model="vm.fill.holder.name" placeholder="Имя" mask="!" limit="false" restrict="reject">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Отчество</label>
                        <input class="form-control" ng-model="vm.fill.holder.secondName" placeholder="Отчество" mask="!" limit="false" restrict="reject">
                    </div>
                </div>
            </div>
            <div class="row row-string">
                <div class="col-lg-8">
                    <div class="form-group">
                        <label>Выберите пол</label>
                        <div>
                            <div class="custom-radio" ng-click="vm.fill.holder.sex = '1'">
                                <input type="radio" ng-model="vm.fill.holder.sex">
                                <label ng-class="{'active': vm.fill.holder.sex == '1'}">
                                    Мужчина
                                </label>
                            </div>
                            <div class="custom-radio" ng-click="vm.fill.holder.sex = '0'">
                                <input type="radio" ng-model="vm.fill.holder.sex">
                                <label ng-class="{'active': vm.fill.holder.sex == '0'}">
                                    Женщина
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Дата рождения</label>
                        <input type="date" class="form-control" ng-model="vm.fill.holder.birthday" placeholder="XX.XX.XXXX" max="1999-09-25" min="1945-01-01">
                    </div>
                </div>
            </div>
            <div class="row row-string">
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{'has-error':vm.fill.holder.phoneError}">
                        <label ng-if="!vm.fill.holder.phoneError">Контактный телефон</label>
                        <label ng-if="vm.fill.holder.phoneError" class="color-red">Телефон введен неверно или уже используется</label>
                        <input name="phone"
                               class="form-control"
                               ng-model="vm.fill.holder.phone"
                               placeholder="+7 (XXX) XXX-XX-XX"
                               mask="+9 (999) 999-99-99"
                               ng-disabled="vm.user"
                               restrict="reject"
                               clean="true">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{'has-error':vm.fill.holder.emailError}">
                        <label ng-if="!vm.fill.holder.emailError">Электронная почта</label>
                        <label ng-if="vm.fill.holder.emailError" class="color-red">Эта электронная почта уже используется</label>
                        <input type="email"
                               class="form-control"
                               name="email"
                               ng-model="vm.fill.holder.email"
                               ng-disabled="vm.user"
                               placeholder="example@myemail.com">
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-lg-8 back-step">
                    <a href ng-click="vm.backStep()" ng-if="vm.fill.step > 1 && vm.fill.step < 5">
                        <i class="fa fa-arrow-left"></i>
                        <span>Назад</span>
                    </a>
                </div>
                <div class="col-lg-4">
                    <button class="btn btn-kasko"
                            type="submit"
                            ng-click="vm.nextStep(1)"
                            ng-disabled="!vm.fill.holder.firstName || !vm.fill.holder.name || !vm.fill.holder.secondName || !vm.fill.holder.sex || !vm.fill.holder.birthday || !vm.fill.holder.phone || !vm.fill.holder.email">Продолжить</button>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="vm.fill.step == 1 && vm.regNow">
        <div class="form form-confirm">
            <h4 class="ta-center">Вы не зарегистрированы</h4>
            <h4 class="ta-center email-confirm-text">По адресу <b>{{vm.fill.holder.email}}</b> отправлено письмо для подтверждения электронной почты и временный пароль.</h4>
            <hr/>
            <h4 class="ta-center">Для продолжения необходимо активировать ваш телефон.</h4>
            <div class="row">
                <div class="col-lg-4">
                    <span class="confirm-title">Вам был отправлен код активации, пожалуйста введите его.</span>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Введите код активации</label>
                        <input name="code" class="form-control" ng-model="vm.fill.confirmCode" placeholder="1234">
                    </div>
                </div>
                <div class="col-lg-4">
                    <button class="btn btn-kasko btn-confirm"
                            ng-click="vm.nextStep('reg')"
                            ng-disabled="!vm.fill.confirmCode">Активировать</button>
                </div>
            </div>
            <div class="row errors-area" ng-if="vm.fill.confirmCodeError">
                <h4 class="error color-red">Неверный проверочный код. Проверьте его и попробуйте ввести еще раз.</h4>
            </div>
        </div>
    </div>
    <div ng-if="vm.fill.step == 2">
        <div class="form">
            <h4>Паспортные данные</h4>
            <div class="row row-string">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Тип документа</label>
                        <input name="passport" class="form-control" placeholder="Пасспорт" disabled="disabled">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Серия / Номер пасспорта</label>
                        <input name="serial" class="form-control" ng-model="vm.fill.passport.serial" placeholder="1234 567890" mask="9999 999999" restrict="reject" clean="true" required>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Дата выдачи пасспорта</label>
                        <input type="date" name="date" class="form-control" ng-model="vm.fill.passport.date" placeholder="XX.XX.XXXX" required>
                    </div>
                </div>
            </div>
            <div class="row row-string">
                <div class="col-lg-12 ">
                    <div class="form-group">
                        <label>Кем выдан пасспорт</label>
                        <input name="owner" class="form-control" ng-model="vm.fill.passport.owner" placeholder="Как в документе" required>
                    </div>
                </div>
            </div>
            <div class="row row-string">
                <div class="col-lg-6">
                    <custom-upload index="1" doc="Скан первой страницы паспорта"></custom-upload>
                </div>
                <div class="col-lg-6">
                    <custom-upload index="5" doc="Скан страницы паспорта с регистрацией"></custom-upload>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-lg-8 back-step">
                    <a href ng-click="vm.backStep()" ng-if="vm.fill.step > 1 && vm.fill.step < 5">
                        <i class="fa fa-arrow-left"></i>
                        <span>Назад</span>
                    </a>
                </div>
                <div class="col-lg-4">
                    <button class="btn btn-kasko"
                            ng-disabled="!vm.fill.passport.serial || !vm.fill.passport.date || !vm.fill.passport.owner || vm.uploader1.queue.length === 0"
                            ng-click="vm.nextStep(2)">Продолжить</button>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="vm.fill.step == 3">
        <div class="form">
            <h4>Данные выгодоприобретателя</h4>
            <div class="row row-string">
                <div class="col-lg-12">
                    <div class="checkbox custom-checkbox">
                        <input class="hidden ng-pristine ng-untouched ng-valid ng-empty" id="registrationAgree" type="checkbox" ng-model="vm.overlap">
                        <label ng-click="vm.overlap = !vm.overlap">
                            <span>Совпадают со страхователем</span>
                        </label>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row row-string">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Фамилия</label>
                        <input name="firstName" class="form-control" ng-model="vm.fill.beneficiary.firstName" ng-disabled="vm.overlap" placeholder="Фамилия" mask="!" limit="false" restrict="reject">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Имя</label>
                        <input name="name" class="form-control" ng-model="vm.fill.beneficiary.name" ng-disabled="vm.overlap" placeholder="Имя" mask="!" limit="false" restrict="reject">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Отчество</label>
                        <input name="secondName" class="form-control" ng-model="vm.fill.beneficiary.secondName" ng-disabled="vm.overlap" placeholder="Отчество" mask="!" limit="false" restrict="reject">
                    </div>
                </div>
            </div>
            <div class="row row-string">
                <div class="col-lg-8">
                    <div class="form-group">
                        <label>Выберите пол</label>
                        <div>
                            <div class="custom-radio" ng-click="vm.fill.beneficiary.sex = '1'">
                                <input type="radio" ng-model="vm.fill.beneficiary.sex">
                                <label ng-class="{'active': vm.fill.beneficiary.sex == '1'}">
                                    Мужчина
                                </label>
                            </div>
                            <div class="custom-radio" ng-click="vm.fill.beneficiary.sex = '0'">
                                <input type="radio" ng-model="vm.fill.holder.sex">
                                <label ng-class="{'active': vm.fill.beneficiary.sex == '0'}">
                                    Женщина
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Дата рождения</label>
                        <input type="date" name="birthday" class="form-control" ng-model="vm.fill.beneficiary.birthday" ng-disabled="vm.overlap" placeholder="XX.XX.XXXX" max="1999-09-25" min="1945-01-01">
                    </div>
                </div>
            </div>
            <div class="row row-string">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Контактный телефон</label>
                        <input name="phone"
                               class="form-control"
                               ng-model="vm.fill.beneficiary.phone"
                               ng-disabled="vm.overlap"
                               placeholder="+7 (XXX) XXX-XX-XX"
                               mask="+9 (999) 999-99-99"
                               restrict="reject">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Электронная почта</label>
                        <input type="email"
                               name="email"
                               class="form-control"
                               ng-model="vm.fill.beneficiary.email"
                               ng-disabled="vm.overlap"
                               placeholder="example@myemail.com">
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row row-string">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Тип документа</label>
                        <input class="form-control" placeholder="Пасспорт" disabled>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Серия / Номер пасспорта</label>
                        <input name="passport"
                               class="form-control"
                               ng-model="vm.fill.beneficiary.passport.serial"
                               ng-disabled="vm.overlap"
                               placeholder="1234 567890"
                               required
                               mask="9999 999999"
                               restrict="reject">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Дата выдачи пасспорта</label>
                        <input type="date" name="date" class="form-control" ng-model="vm.fill.beneficiary.passport.date" ng-disabled="vm.overlap" placeholder="XX.XX.XXXX">
                    </div>
                </div>
            </div>
            <div class="row row-string">
                <div class="col-lg-12 ">
                    <div class="form-group">
                        <label>Кем выдан пасспорт</label>
                        <input name="owner" class="form-control" ng-model="vm.fill.beneficiary.passport.owner" ng-disabled="vm.overlap" placeholder="Как в документе">
                    </div>
                </div>
            </div>
            <div class="row row-string">
                <div class="col-lg-6">
                    <custom-upload index="2" doc="Скан первой страницы паспорта"></custom-upload>
                </div>
                <div class="col-lg-6">
                    <custom-upload index="6" doc="Скан страницы паспорта с регистрацией"></custom-upload>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-lg-8 back-step">
                    <a href ng-click="vm.backStep()" ng-if="vm.fill.step > 1 && vm.fill.step < 5">
                        <i class="fa fa-arrow-left"></i>
                        <span>Назад</span>
                    </a>
                </div>
                <div class="col-lg-4" ng-if="!vm.overlap">
                    <button class="btn btn-kasko"
                            ng-click="vm.nextStep(3)"
                            ng-disabled="(!vm.fill.beneficiary.firstName || !vm.fill.beneficiary.name || !vm.fill.beneficiary.secondName || !vm.fill.beneficiary.sex || !vm.fill.beneficiary.birthday || !vm.fill.beneficiary.phone || !vm.fill.beneficiary.email || !vm.fill.beneficiary.passport.serial || !vm.fill.beneficiary.passport.date || !vm.fill.beneficiary.passport.owner || vm.uploader2.queue.length === 0) || vm.overlap">Продолжить</button>
                </div>
                <div class="col-lg-4" ng-if="vm.overlap">
                    <button class="btn btn-kasko" ng-click="vm.nextStep(3)">Продолжить</button>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="vm.fill.step == 4">
        <div class="form">
            <h4>Данные об автомобиле</h4>
            <div class="row row-string">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Марка автомобиля</label>
                        <input class="form-control" ng-model="vm.findData.mark.mark" disabled="disabled">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Модель автомобиля</label>
                        <input class="form-control" ng-model="vm.findData.model.model" disabled="disabled">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Год выпуска</label>
                        <input class="form-control" ng-model="vm.findData.year" disabled="disabled">
                    </div>
                </div>
            </div>
            <div class="row row-string">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Серия / Номер ПТС</label>
                        <input class="form-control" ng-model="vm.fill.avto.pts.serial" placeholder="1234 567890" mask="9999 999999" restrict="reject">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Дата выдачи ПТС</label>
                        <input type="date" class="form-control" ng-model="vm.fill.avto.pts.date" placeholder="XX.XX.XXXX">
                    </div>
                </div>
                <div class="col-lg-4">
                    <custom-upload index="3" doc="Прикрепить скан ПТС"></custom-upload>
                </div>
            </div>
            <div class="row row-string">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Серия / Номер СТС</label>
                        <input class="form-control" ng-model="vm.fill.avto.sts.serial" placeholder="1234 567890" mask="9999 999999" restrict="reject">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Дата выдачи СТС</label>
                        <input type="date" class="form-control" ng-model="vm.fill.avto.sts.date" placeholder="XX.XX.XXXX">
                    </div>
                </div>
                <div class="col-lg-4">
                    <custom-upload index="4" doc="Прикрепить скан СТС"></custom-upload>
                </div>
            </div>
            <div class="row row-string">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Гос. номер</label>
                        <input class="form-control" ng-model="vm.fill.avto.gosNumber" placeholder="A 123 BC 456" mask="A 999 AA 999" restrict="reject" clear="true" limit="true">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>VIN номер</label>
                        <input class="form-control" ng-model="vm.fill.avto.vin" placeholder="1234567890" clear="true" mask="99999999999999999" limit="true">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Стоимость авто</label>
                        <input class="form-control" ng-model="vm.findData.filter.sum" ng-value="(vm.findData.filter.sum | number) + ' руб.'" disabled="disabled">
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-lg-8 back-step">
                    <a href ng-click="vm.backStep()" ng-if="vm.fill.step > 1 && vm.fill.step < 5">
                        <i class="fa fa-arrow-left"></i>
                        <span>Назад</span>
                    </a>
                </div>
                <div class="col-lg-4">
                    <button class="btn btn-kasko" ng-click="vm.nextStep(4)" ng-disabled="!vm.fill.avto.pts.serial || !vm.fill.avto.pts.date || vm.uploader3.queue.length === 0 || !vm.fill.avto.sts.serial || !vm.fill.avto.sts.date || vm.uploader4.queue.length === 0 || !vm.fill.avto.gosNumber || !vm.fill.avto.vin">Продолжить</button>
                </div>
            </div>
        </div>
    </div>
    <!--<div ng-if="vm.fill.step == 5">
        <ng-include src="'/filling-insurance/filling-insurance-drivers.html'"></ng-include>
    </div>-->
    <div ng-if="vm.fill.step == 5" class="ta-center">
        <span class="final-step-title">Спасибо за ожидание.<br/>Все расчеты окончены, мы вскоре свяжемся с вами для дальнейшего оформления полиса.</span>
    </div>
    <div class="blocker" ng-if="vm.waiter">
        <i class="fa fa-circle-o-notch fa-spin fa-5x"></i>
    </div>
</div>
<div class="errors-break-area" ng-if="vm.breakFilling">
    <h4>Возникла ошибка. Обратитесь в службу поддержки.</h4>
    <a href="/">На главную</a>
</div>
<div id="debug-area" class="ng-hide">
</div>