.toolbar .kaskonomikaIcon{
    margin-right: -2%;
}
.toolbar .menuItem1{
    margin-left: 8%;
}

.calc{
    float: right;
    margin-right: 50px;
}
.toolbar .calc {
    margin-right: 2%;
    margin-left: 0%;
    display: none;
}

.faqHeaderButtonItem{
    cursor: pointer;
}
.linkToGroup{
    margin-top: 20px;
    margin-left:5px;
    cursor: pointer;
}
#faqMenu{
    min-width: 200px;
}
.findWord{
    /*border-bottom: 1px solid black;*/

    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 35%, rgba(241,231,103,1) 70%, rgba(241,231,103,1) 100%);
    background: -webkit-gradient(left top, left bottom,
                color-stop(35%, rgba(255,255,255,1)),
                color-stop(70%, rgba(241,231,103,1)),
                color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 35%, rgba(241,231,103,1) 70%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 35%, rgba(241,231,103,1) 70%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 35%, rgba(241,231,103,1) 70%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 35%, rgba(241,231,103,1) 70%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1e767', GradientType=0 );
}

.dontFoundLine{
    text-align: center;
    display: none;
}
.dontFoundBlock{
    display: inline-block;
    height: 50px;
    background-color: #d4edfc;
}
.dontFoundBlock span{
    font-size: 14px;
    margin-top: 16px;
    display: inline-block;
}