
#homePage{
    background-color: #e5f3fc;
    margin-bottom: -5px;
}
#page1{
    background-color:#b2dcf5;
    background-image: url(../images/page1_bg.png);
}
#page2{
    background-color:#59c6f1;
    background-image: url(../images/page2_bg.png);
}
#page3{
    background-color:#e86364;
    background-image: url(../images/page3_bg.png);
}
#page4{
    background-color: #efefef;
    background-image: url(../images/page4_bg.png);
}

.homeBackground{
    background-size: contain;
}
.parallaxPages .parallaxPage{
    /*background-size: contain;*/
    display: inline-block;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
}
.parallaxPages .parallaxPage .homeBackground{
    background-image: url(../images/promo_right.png), url(../images/promo_left.png);
    background-position: right bottom, left bottom;
    background-repeat: no-repeat, no-repeat;
    background-color: rgba(229, 243, 252, 0);
    /*background-size: contain;*/
    display: inline-block;
    height: 64%;
    width: 100%;
}
.parallaxPages .parallaxPage .partners{
    background-color: #b2dcf6;
    height:36%;
    margin-top: -5px;
}
.parallaxPages .parallaxPage .partnersTitle{
    display: none;
    margin-left: 516px;
    width: 600px;
    height: 26px;
    margin-top: 39px;
    font-size: 20px;
}
.parallaxPages .parallaxPage .partnersBody{
    display: none;
    margin-left: 498px;
    width: 780px;
    height: 140px;
    margin-top: 21px;
}
.parallaxPages .parallaxPage .partnerIcon{
    display: inline-block;
    margin-right: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 15px;
}
.parallaxPages .parallaxPage .partnerIcon img{
    height: 20px;
    width: 120px;
    object-fit: contain;
    -webkit-filter: grayscale(1) opacity(0.6);
    -moz-filter: grayscale(1) opacity(0.6);
    -o-filter: grayscale(1) opacity(0.6);
}

.parallaxPages .parallaxPage .panel{
    width: 50%;
    margin-left: 33%;
}
.parallaxPages .parallaxPage .page1Panel{
    display: inline-block;
    width: 50%;
    height: auto;
    min-height: 45%;
    margin-left: 13%;
    margin-top: 12%;
    padding: 0px;
}
.parallaxPages .parallaxPage .page1Panel .pageTitle{
    height: auto;
    margin-top: 0.25%;
    margin-left: 0.25%;
    line-height: 395%;
}
.parallaxPages .parallaxPage .page1Panel .pageBody{
    margin-top: 11%;
    margin-left: 0.3%;
}
.parallaxPages .parallaxPage .page1Panel .pageTitle span{
    font-size: 52px;
    font-size: 3.7vw;
    font-size: 6.8vh;
}
.parallaxPages .parallaxPage .page1Title{
    min-height: 210px;
}
.page1Title span{
    font-size: 54px;
    font-family: "Geometria Narrow Bold";

}
.parallaxPages .parallaxPage .page1Body{
    margin-top: 19px;
}
.parallaxPages .parallaxPage .page2Panel{
    display: inline-block;
    height: 400px;
    width: 50%;
    margin-left: 15%;
    margin-top: 12%;
}
.parallaxPages .parallaxPage .page2Panel .pageTitle{
    margin-top: 0.25%;
}
.parallaxPages .parallaxPage .page2Panel .pageTitle span{
    font-size: 53px;
    font-size: 3.75vw;
    font-size: 6.8vh;
    font-family: "Geometria Narrow Bold";
    line-height: 118%;
}
.parallaxPages .parallaxPage .page2Panel .pageBody{
    margin-top: 9.2%;
    width: 100%;
}
.page2Title{
    margin-bottom: 8%;
}

.parallaxPages .parallaxPage .pageTitle span{
    font-size: 54px;
    font-family: "Geometria Narrow Bold";
    display: block;
    margin-bottom: -29px;
}

.parallaxPages .parallaxPage .page3Panel{
    display: inline-block;
    height: auto;
    min-height: 45%;
    margin-top: 12%;
    margin-left: 17%;
}
.parallaxPages .parallaxPage .page3Panel .pageTitle{
    margin-left: 0.25%;
    margin-top: 0.25%;
}
.parallaxPages .parallaxPage .page3Panel .pageTitle span{
    font-size: 53px;
    font-size: 3.75vw;
    font-size: 6.8vh;
}
.parallaxPages .parallaxPage .pageTitle{
    height: auto;
}
.parallaxPages .parallaxPage .page4Panel{
    display: inline-block;
    margin-top: 13.3%;
    margin-left: 2.65%;
    width: 39%;
    height: auto;
    min-height: 67%;
}
.parallaxPages .parallaxPage .page4Panel .pageTitle{
    height: auto;
    margin-left: 4.25%;
    margin-top: 0.25%;
    line-height: 278%;
}
.parallaxPages .parallaxPage .pageTitle span{
    font-size: 36px;
    font-size: 2.5vw;
    font-family: "Geometria Narrow Bold";
}
.parallaxPages .parallaxPage .pageBody{
    margin-top: 10%;
}
.parallaxPages .parallaxPage .pageBody span{
    font-size: 20px;
    font-size: 1.48vw;
    font-size: 2.6vh;
    display: block;
    margin-bottom: -7px;
}
.parallaxPages .parallaxPage .page4Item{
    display: inline-block;
    width: 100%;
    border-radius: 15px;
    padding: 5px;
    margin-top: 7px;
    position: relative;
    z-index: 1000000;
}

.pageTitle, .elseFunctionsText, .pageBody, .panelTitle{
    text-align: left;
}

.parallaxPages .parallaxPage .itemToCenter span{
    display: inline-block;
}
.parallaxPages .parallaxPage .itemToCenter .page4Itemtext{
    display: none;
    padding-bottom: 15px;
}
.parallaxPages .parallaxPage .page4ItemNumber{
    width: 4%;
}
.parallaxPages .parallaxPage .page4ItemBlock{
    display: inline-block;
    width: 96%;
    float: right;
}
.parallaxPages .parallaxPage .itemToCenter{
    margin-left: 3.5%;
    margin-right: 3.5%;
    margin-top: 2%;
    margin-bottom: 2%;
    cursor: pointer;
}

.parallaxPages .parallaxPage .page4Item:hover{
    background-color: white;
    box-shadow: 5px 5px 5px #c6c6c6;
    cursor: pointer;
}

.parallaxPages .parallaxPage .searchPanel{
    display: inline-block;
    min-width: 320px;
    position: absolute;
}
.parallaxPages .parallaxPage .searchPanel .panelTitle span{
    font-size: 36px;
    font-size: 2.5vw;
    font-size: 4.5vh;
    font-family: "Geometria Narrow Bold";
}


