#index-page {
  margin: 0;
  padding: 0;
  background: #b8e7ff;
  min-height: 100%;
  height: 100%;
  #index-section {}
  #bonus-section {}
  #insurance-section {}
  #help-section {}
  #more-section {}
  #slider-section {}
}
