/**
 * Created by Ravy on 23.05.2017.
 */
.margin-auto {
  margin: auto!important;
}

//Выравнивание элементов внутри блоков
.ta-center {
  text-align: center!important;
}
.ta-left {
  text-align: left!important;
}
.ta-right {
  text-align: right!important;
}

.p-zero {
  padding: 0;
}

//TODO Включить перед релизом
.noselect {
  /*-ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;*/
}

.debug {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  color: #000;
  text-align: center;
  font: 16px/30px @fm-web;
  z-index: 20;
}

.wrap-padding {
  margin: 0;
  background: #fff;
}



/* DASHBOARD CHART */
/* Pie Chart */
/* Pie Chart */
.progress-pie-chart {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #eeeeee;
  position: relative;
  transform: rotate(-130deg);
  margin: 20px auto;
  &.gt-50 {
    background-color: @color-blue;
    .ppc-progress {
      clip: rect(0, 100px, 200px, 0);
      .ppc-progress-fill {
        clip: rect(0, 200px, 200px, 100px);
        background: #eeeeee;
      }
    }
  }
  .ppc-progress {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: -3px;
    top: -1px;
    width: 202px;
    height: 202px;
    clip: rect(0, 200px, 200px, 100px);
    .ppc-progress-fill {
      content: "";
      position: absolute;
      border-radius: 50%;
      left: 0;
      top: 0;
      width: 200px;
      height: 200px;
      clip: rect(0, 100px, 200px, 0);
      background: @color-blue;
      transform: rotate(60deg);
    }
  }
  .ppc-percents {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: 10px;
    top: 10px;
    width: 180px;
    height: 180px;
    background: #fff;
    text-align: center;
    display: table;
    .pcc-percents-wrapper {
      display: table-cell;
      vertical-align: middle;
      transform: rotate(130deg);
      span {
        display: block;
        font: 40px/20px @fm-bold;
        color: #000;
        small {
          font: 14px/1px @fm-main;
          color: #000;
        }
      }
    }
  }
}

.p-10 {
  padding: 10px !important;
}
.m-10 {
  margin: 10px !important;
}
.p-20 {
  padding: 20px !important;
}
.m-20 {
  margin: 20px !important;
}
.p-40 {
  padding: 40px !important;
}
.m-40 {
  margin: 40px !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.pt-40 {
  padding-top: 40px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.pl-10 {
  padding-left: 10px !important;
}
.ml-10 {
  margin-left: 10px !important;
}
.pl-20 {
  padding-left: 20px !important;
}
.ml-20 {
  margin-left: 20px !important;
}
.pl-40 {
  padding-left: 40px !important;
}
.ml-40 {
  margin-left: 40px !important;
}
.pr-10 {
  padding-right: 10px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.pr-20 {
  padding-right: 20px !important;
}
.mr-20 {
  margin-right: 20px !important;
}
.pr-40 {
  padding-right: 40px !important;
}
.mr-40 {
  margin-right: 40px !important;
}
.pb-10 {
  padding-bottom: 10px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.pb-40 {
  padding-bottom: 40px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.p-0 {
  padding: 0!important;
}
.m-0 {
  margin: 0!important;
}
.mt-0 {
  margin-top: 0!important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
