<div class="container-fluid section1-calc-top-area">
    <h1 class="m-width-90">Экономьте до 40% на стоимости КАСКО, мгновенный расчет, оформление онлайн</h1>
    <div class="container">
        <div class="calc-module m-width-100">
            <ng-include src="'/car-finder/car-finder.html'" id="car-finder-type-1"></ng-include>
        </div>
    </div>
</div>
<div class="container-fluid section1-calc-middle-area">
    <div class="container">
        <div class="block-group">
            <div class="block-item" ng-repeat="row in vm.bocksList track by $index" ng-class="{'special' : row.special,'one-line':row.h3.length < 13}">
                <div class="text-area">
                    <h3>{{row.h3}}</h3>
                    <h4>{{row.h4}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid section1-calc-bottom-area">
    <div class="container">
        <h3 class="m-width-90">Подбирайте тариф среди множества предложений</h3>
        <div class="partners-logos m-width-100">
            <ul class="list-inline">
                <li ng-repeat="item in vm.partnersList track by $index">
                    <a href="{{item.url}}" target="_blank" alt="{{item.alt}}">
                        <img ng-src="{{item.src}}" alt="{{item.alt}}" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

