<div class="row incident-type step-area">
    <hr/>
    <span class="span-step">Шаг 1</span>
    <span class="span-step-title">Что у вас случилось?</span>
    <div class="btn-group animated zoomIn">
        <button type="button" class="btn btn-kasko btn-kasko-lg"
                ng-repeat="(key,row) in vm.incidentList"
                ng-click="vm.activeIncident = row; vm.issue.variant = null; vm.getVariantsList(row.id)"
                ng-class="{'_default' : vm.activeIncident.id != vm.incidentList[key].id}">{{row.name}}</button>
    </div>
    <div class="btn-group input-what-happend" ng-if="vm.activeIncident.id && vm.activeIncident.id != '3'">
        <select ng-model="vm.issue.variant" class="form-control" ng-change="vm.getGuiltyType(vm.issue.variant)">
            <option disabled value="">Что именно произошло?</option>
            <option ng-value="row.id" ng-repeat="row in vm.variantsList track by $index">{{row.name}}</option>
        </select>
    </div>
</div>