<div class="row photo-odometer step-area">
    <hr/>
    <span class="span-step">Шаг 9</span>
    <span class="span-step-title">Фотография VIN-номера</span>
    <span class="span-step-desc">Сделайте фото VIN-номера вашего автомобиля перед тем, как убрать его с места ДТП. Он должен быть виден полностью и нормально читаться.</span>
    <div class="animated zoomIn">
        <div class="row">
            <div class="upload-btn col-lg-3" ng-if="vm.uploaderCreated">
                <custom-upload index="5" multi="1" doc="Загрузить фотографию"></custom-upload>
            </div>
        </div>
        <div class="row imgs-area">
            <div class="img-item" ng-repeat="(key,item) in vm.issue.uploader[5]">
                <img ng-src="{{item}}"/>
                <i class="fa fa-trash-o" ng-click="vm.clearQueue({index: 5, key: key+1})"></i>
            </div>
        </div>
    </div>
</div>