<div class="row guilty-type step-area">
    <hr/>
    <span class="span-step">Шаг 6</span>
    <span class="span-step-title">Детальный вид повреждений</span>
    <div class="animated zoomIn">
        <!-- TODO -->
        <div class="row imgs-area">
            <div class="custom-upload">
                <div>
                    <label class="animated zoomIn">
                        <input type="file" accept="image/jpeg,image/png,image/gif" nv-file-select="" uploader="vm.uploader19" multiple="" required="">
                        <span class="btn btn-primary btn-upload">Загрузить фотографию</span>
                    </label>
                </div>
            </div>
            <div class="img-item" ng-repeat="(key,item) in vm.issue.uploader[21]">
                <div class=" animated zoomIn">
                    <img ng-src="{{item}}"/>
                    <i class="fa fa-trash-o" ng-click="vm.clearQueue({index: 21, key: key+1})"></i>
                </div>
            </div>
        </div>
    </div>
</div>