<div id="dashboard-insurance-create" class="wrap-padding">
    <div class="container-fluid">
        <div class="row row-db">
            <div class="col-lg-2 dashboard-menu">
                <ng-include src="'/dashboard/menu/dashboard-menu.html'"></ng-include>
            </div>
            <div class="col-lg-10 dashboard-body">
                <div class="cars-list-area">
                    <div class="car-item animated bounceInRight" ng-class="{'_active' : row.active}" ng-repeat="row in vm.carsList track by $index">
                        <span class="car-number">{{row.number | avtoNumberMask}}</span>
                        <span class="car-name">{{row.mark}} {{row.model}}</span>
                        <span class="car-date">Застрахована до {{row.policies[0].end_date}}</span>
                    </div>
                </div>
                <div class="container">

                    <!-- ТИП ПРОИСШЕСТВИЯ -- 1 --->
                    <ng-include src="'/dashboard/insurance-create/area-step1-event-type.html'" ng-if="vm.incidentList"></ng-include>

                    <!-- КТО ВИНОВЕН В ПРОИСШЕСТВИИ? -- 2 --->
                    <ng-include src="'/dashboard/insurance-create/area-step2-issue-type.html'" ng-if="vm.guiltyType"></ng-include>

                    <!-- ДАННЫЕ ИНОГО ЛИЦА -- 3 --->
                    <ng-include src="'/dashboard/insurance-create/area-step3-issue-data.html'" ng-if="vm.issue.guiltyType === '4' || vm.issue.guiltyType === '5'"></ng-include>

                    <!-- КАРТА МЕСТА ПРОИСШЕСТВИЯ -- 4 --->
                    <ng-include src="'/dashboard/insurance-create/area-step4-map-place.html'" ng-if="vm.showStepThree()"></ng-include>

                    <!-- ОПИСАНИЕ СОБЫТИЙ ПРОИСШЕСТВИЯ -- 5 --->
                    <ng-include src="'/dashboard/insurance-create/area-step5-write-events.html'" ng-if="vm.issue.mapAddress || vm.issue.mapMarker"></ng-include>

                    <!-- ПОВРЕЖДЕННЫЕ ЭЛЕМЕНТЫ ПРОИСШЕСТВИЯ -- 6 --->
                    <ng-include src="'/dashboard/insurance-create/area-step6-break-elements.html'" ng-if="vm.issue.myVersion.length > 1"></ng-include>

                    <!-- ОБЩИЙ ВИД АВТОМОБИЛЯ С 4 СТОРОН -- 7 --->
                    <ng-include src="'/dashboard/insurance-create/area-step7-default-view-avto.html'" ng-if="vm.uploaderCreated"></ng-include>

                    <!-- ДЕТАЛЬНЫЙ ВИД ПОВРЕЖДЕНИЙ  -- 8 --->
                    <ng-include src="'/dashboard/insurance-create/area-step8-detail-view-breaks.html'" ng-if="vm.issue.uploader[24].length > 0"></ng-include>

                    <!-- ОБЩИЙ ВИД МЕСТА ДТП -- 9 --->
                    <ng-include src="'/dashboard/insurance-create/area-step9-default-view-place.html'" ng-if="vm.issue.uploader[25].length > 0"></ng-include>

                    <!-- ФОТО ОДОМЕТРА ПОСЛЕ ДТС -- 10 --->
                    <ng-include src="'/dashboard/insurance-create/area-step10-photo-odometer.html'" ng-if="vm.issue.uploader[26].length > 0"></ng-include>

                    <!-- ФОТО VIN-НОМЕРА -- 11 --->
                    <ng-include src="'/dashboard/insurance-create/area-step11-photo-vin.html'" ng-if="vm.issue.uploader[4].length > 0"></ng-include>

                    <!-- ОБЪЯСНЯЛОВКА -- 12 --->
                    <ng-include src="'/dashboard/insurance-create/area-step12-docs.html'" ng-if="vm.issue.uploader[5].length > 0"></ng-include>

                    <!-- КНОПКА ГОТОВНОСТИ -- 13 --->
                    <ng-include src="'/dashboard/insurance-create/area-step12-result.html'" ng-if="vm.issue.uploader[5].length > 0"></ng-include>

                    <!-- ОБЪЯСНЯЛОВКА -- 13 --->
                    <ng-include src="'/dashboard/insurance-create/area-step0-instruction.html'" ng-if="!vm.activeIncident"></ng-include>
            </div>
            </div>
        </div>
    </div>
</div>
<div id="debug-area" class="ng-hide">
    <code>{{vm.issue.guiltyType}}</code>
</div>



