<div id="dashboard-insurance-create">
    <div class="container-fluid">
        <div class="row row-db">
            <div class="col-lg-2 dashboard-menu">
                <ng-include src="'/dashboard/menu/dashboard-menu.html'"></ng-include>
            </div>
            <div class="col-lg-10 dashboard-body">
                <div class="cars-list-area">
                    <div class="car-item animated bounceInRight" ng-class="{'_active' : row.active}" ng-repeat="row in vm.carsList track by $index">
                        <span class="car-number">{{row.number | avtoNumberMask}}</span>
                        <span class="car-name">{{row.mark}} {{row.model}}</span>
                        <span class="car-date">Застрахована до {{row.policies[0].end_date}}</span>
                    </div>
                </div>
                <div class="container">

                    <!-- ТИП ПРОИСШЕСТВИЯ -- 1 --->
                    <ng-include src="'/dashboard/insurance-create/area-event-type.html'" ng-if="vm.incidentList"></ng-include>

                    <!-- КТО ВИНОВЕН В ПРОИСШЕСТВИИ? -- 2 --->
                    <ng-include src="'/dashboard/insurance-create/area-issue-type.html'" ng-if="vm.guiltyType"></ng-include>

                    <!-- ДАННЫЕ ИНОГО ЛИЦА --->
                    <ng-include src="'/dashboard/insurance-create/area-issue-data.html'" ng-if="vm.issue.guiltyType === '4'"></ng-include>

                    <!-- КАРТА МЕСТА ПРОИСШЕСТВИЯ -- 3 --->
                    <ng-include src="'/dashboard/insurance-create/area-map-place.html'" ng-if="vm.issue.guilty || vm.issue.guiltyType === '3'"></ng-include>

                    <!-- ОПИСАНИЕ СОБЫТИЙ ПРОИСШЕСТВИЯ --->
                    <ng-include src="'/dashboard/insurance-create/area-write-events.html'" ng-if="vm.issue.mapAddress || vm.issue.mapMarker"></ng-include>

                    <!-- ПОВРЕЖДЕННЫЕ ЭЛЕМЕНТЫ ПРОИСШЕСТВИЯ --->
                    <ng-include src="'/dashboard/insurance-create/area-break-elements.html'" ng-if="vm.issue.myVersion.length > 1"></ng-include>

                    <!-- ОБЩИЙ ВИД АВТОМОБИЛЯ С 4 СТОРОН -- 5 --->
                    <ng-include src="'/dashboard/insurance-create/area-default-view-avto.html'" ng-if="vm.uploaderCreated"></ng-include>

                    <!-- ДЕТАЛЬНЫЙ ВИД ПОВРЕЖДЕНИЙ  -- 6 --->
<!--
                    <ng-include src="'/dashboard/insurance-create/area-detail-view-breaks.html'" ng-if="vm.issue.uploader[24].length > 0"></ng-include>
-->
                    <ng-include src="'/dashboard/insurance-create/area-detail-view-breaks.html'"></ng-include>

                    <!-- ОБЩИЙ ВИД МЕСТА ДТП -- 7 --->
                    <ng-include src="'/dashboard/insurance-create/area-default-view-place.html'" ng-if="vm.issue.uploader[2].length > 0"></ng-include>

                    <!-- ФОТО ОДОМЕТРА ПОСЛЕ ДТС -- 8 --->
                    <ng-include src="'/dashboard/insurance-create/area-photo-odometer.html'" ng-if="vm.issue.uploader[3].length > 0"></ng-include>

                    <!-- ФОТО VIN-НОМЕРА -- 9 --->
                    <ng-include src="'/dashboard/insurance-create/area-photo-vin.html'" ng-if="vm.issue.uploader[4].length > 0"></ng-include>

                    <!-- ОБЪЯСНЯЛОВКА -- 9 --->
                    <ng-include src="'/dashboard/insurance-create/area-instruction.html'" ng-if="!vm.activeIncident"></ng-include>
            </div>
            </div>
        </div>
    </div>
</div>
<div id="debug-area" class="ng-hide">
    <code>{{vm.issue.guiltyType}}</code>
</div>



