<div id="dashboard-main">
    <div class="container-fluid">
        <div class="row row-db">
            <div class="col-lg-2 dashboard-menu">
                <ng-include src="'/dashboard/menu/dashboard-menu.html'"></ng-include>
            </div>
            <div class="col-lg-10 dashboard-body">
                <div class="row cars-list-area">
                    <div class="car-item animated bounceInRight"
                         ng-class="{'_active' : vm.activeCarTab == row.id}"
                         ng-click="vm.setActivetab(row.id, key)"
                         ng-repeat="(key,row) in vm.carsList track by $index">
                        <span class="car-number">{{row.number | avtoNumberMask}}</span>
                        <span class="car-name">{{row.mark}} {{row.model}}</span>
                        <span class="car-date">Застрахована до {{row.policies[0].end_date}}</span>
                    </div>
                </div>
                <div class="row values-list-area">
                    <!-- SCORING -->
                    <div class="col-lg-3 area-scoring">
                        <ng-include src="'/dashboard/main/area-milage.html'"></ng-include>
                    </div>
                    <!-- ALL MILAGE -->
                    <div class="col-lg-3 area-milage">
                        <ng-include src="'/dashboard/main/area-length.html'"></ng-include>
                    </div>
                    <!-- MY TRIPS -->
                    <div class="col-lg-3 area-length">
                        <ng-include src="'/dashboard/main/area-period.html'"></ng-include>
                    </div>
                    <!-- TRIPS LENGTH -->
                    <div class="col-lg-3 area-issue">
                        <ng-include src="'/dashboard/main/area-issue.html'"></ng-include>
                    </div>
                </div>
                <div class="row maps-and-alerts">
                    <!-- MAP-->
                    <div class="col-lg-8 left-area">
                        <ng-include src="'/dashboard/main/area-map.html'"></ng-include>
                        <ng-include src="'/dashboard/main/area-meta-data.html'"></ng-include>
                    </div>
                    <!-- ATTENTIONS -->
                    <div class="col-lg-4 right-area">
                        <ng-include src="'/dashboard/main/area-attentions.html'"></ng-include>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



