/**
 * Created by Ravy on 12.06.2017.
 */
#telematics-page {
  .card {
    padding: 0 20px 20px;
    .waiter {

    }
    .cars-tabs {
      margin: 0 -20px;
      padding: 10px 5px 0;
      background: lightblue;
      ul {
        li {
          margin-right: 5px;
          a {
            background: @color_11;
            color: #fff;
            padding: 15px;
            &:hover {
              border: 1px solid @color_11;
            }
          }
        }
        .active {
          a {
            background: #fff;
            color: #000;
            border: 1px solid #fff;
            &:hover {
              border: 1px solid #fff;
            }
          }
        }
      }

    }
    .main-area {
      padding: 20px 0;
      .scoring {
        width: 200px;
        height: 200px;
        display: block;
        margin: auto;
        border-radius: 50%;
        border: 10px solid @color_11;
        text-align: center;
        span {
          display: block;
        }
        .score {
          font: 60px/60px @fm-bold;
          color: #000;
          margin: 30% auto;
          small {
            vertical-align: top;
            text-transform: uppercase;
            font: 18px/18px @fm-bold;
            color: #999;
          }
        }

      }
    }
    .calendar-area {
      ul {
        li {
          a {

          }
        }
        .active {
          a {

          }
        }
      }

    }
    .trips-parking-area {
      .panel-group {
        .panel {
          .panel-heading {

          }
          .panel-collapse {
            .panel-body {
              .parking-area {
                .top-area {
                  .map-area {

                  }
                  .parking-address {
                    .position-title {

                    }
                    .parking-title {

                    }
                    .position-title {

                    }
                    .position-address {

                    }
                  }
                }
                .bottom-area {
                  .interests-area {
                    p {

                    }
                    ul {
                      li {

                      }
                    }
                  }
                  .category-area {
                    .category-area-title {

                    }
                  }
                }
              }
              .trip-area {
                .top-area {
                  .scoring {

                  }
                  .weather-area {
                    img {

                    }
                  }
                }
                .bottom-area {
                  span {

                  }
                }
              }
            }
          }
        }
      }

    }
  }

}
