@media only screen and (max-width: 700px){
    .toolbar .calc{
        display: none;
    }
    .pageTitle{
        margin-top: 14%;
        font-size: 26px;
    }
    .pageInfoGroup{
        margin-left: 10.5%;
        width: 83%;
    }
    .slide1Body{
        background-size: contain;
    }
    .slide1Body .pageInfoGroup{
        margin-top: 28%;
    }
    .numberCicle{
        margin-top: 0%;
        width: 24px;
        height: 24px;
    }
    .infoGroupNumber{
        margin-top: 7%;
        margin-left: 0%;
    }
    .slide2Body .infoGroupNumber{
        margin-top: 5%;
    }
    .dogInCar{
        position: relative;
        margin-top: 9%;
        width: 87%;
        height: 139px;
        background-size: contain;
    }
    .slide2Body .addInfoGroup{
        position: relative;
        margin-top: 7%;
        float: left;
        margin-left: 10%;
        width: 79%;
        min-width: 200px;
    }
    .dots{
        width: 5px;
        height: 5px;
    }
    .apps .androidApp{
        margin-left: 2%;
    }
    .phoneWithTelematic{
        float: left;
        position: relative;
        width: 65%;
        height: 260px;
        margin-left: 19%;
        margin-top: 14%;
        background-size: contain;
    }
    .slide3Body{
        margin-top: -33.5%;
    }
    .slide3Body .pageInfoGroup{
        margin-top: 44.8%;
    }
    .elseQuestions{
        margin-left: 5%;
        width: 90%;
        min-height:200px;
        float: left;
        height: 264px;
    }
    .question1{
        width: 276px;
        height: 130px;
        margin-left: 3%;
        padding-left: 5%;
        margin-top: 25px;
        background-size: contain;
    }
    .questionTitle{
        margin-top: 7%;
        margin-left: 3%;
        font-size: 8px;
    }
    .questionText{
        margin-left: 2%;
        margin-top: 0%;
        font-size: 11px;
    }
    .questionDate{
        margin-left: 2%;
        margin-top: 5%;
        font-size: 7px;
    }
    .question2{
        float: left;
        margin-left: 23%;
        width: 115px;
        height: 80px;
        padding-left: 12px;
        padding-top: 4px;
        background-size: contain;
        margin-top: -15px;
    }
    .question2 .questionTitle{
        font-size: 7px;
    }
    .question2 .questionText{
        font-size: 8px;
        position: absolute;
        margin-top: 3px;
    }
    .question2 .questionDate {
        font-size: 6px;
        position: absolute;
        margin-top: 3px;
    }
    .question3{
        padding-left: 12px;
        margin-left: 72%;
        margin-top: 3%;
        width: 126px;
        height: 65px;
        background-size: contain;
    }
    .question3 .questionText{
        font-size: 7px;
        position: absolute;
        margin-top: -2px;
    }
    .question3 .questionDate {
        font-size: 5px;
        position: absolute;
        margin-top: -2px;
    }
    .elseOptionsTitle{
        margin-top: 3%;
    }
    .menuList{
        display: none;
    }
    .elseOptionsTitle span{
        font-size: 25px;
    }
    .slideShow{
        height: 747px;
        text-align: center;
        display: inline-block;
        width: 100%;
        margin-top: 40px;

    }
    .leftButtonItem, .rightButtonItem{
        height: 100%;
        width: 50px;
        display: inline-block;
        cursor: pointer;
    }
    /*.leftButtonItem{*/
        /*float: left;*/
    /*}*/
    /*.rightButtonItem{*/
        /*float: right;*/
    /*}*/
    .slideShowItem{
        display: inline-block;
        width: 216px;
        height: 100%;

    }
    .slideShowItem .phone{
        width: 100%;
        background-size: cover, cover;
        display: inline-block;
        height: 445px;
    }
    .phoneDisplay{
        background-size: contain;
        background-repeat: no-repeat;
        width: 188px;
        height: 331px;
        margin-top: 46px;
        position: absolute;
        margin-left: 16px;
        background-color: white;
        background-image: url('');
    }
    .button{
        width: 40px;
        height: 40px;
        display: inline-block;
        background-image: url('../../images/howItWork/slideButton.png');
        margin-top: 182px;
        float: left;
    }
    .leftButtonItem .button{
        transform: rotate(180deg);
        margin-top: 193px;
        /*float: left;*/
    }
    .sliderTabs{
        display: inline-block;
        height: 5px;
        width: 200px;
        cursor: pointer;
    }
    .tab{
        width: 62px;
        height: 100%;
        display: inline-block;
        background-color: #b2b2b2;
    }

    .sliderTabs .active{
        background-color: #e76363;
    }
    .slideShowItem .addGroupInfo{
        margin-top: 38px;
        text-align: left;
    }

    .item{
        background-size: contain;
        background-repeat: no-repeat;
    }
    .slide1{
        background-image: url('../../images/howItWork/mobileSlide1.jpeg');
    }
    .slide2{
        background-image: url('../../images/howItWork/mobileSlide2.jpeg');
    }
    .slide3{
        background-image: url('../../images/howItWork/mobileSlide3.jpeg');
    }









    .apps .AppleApp, .apps .androidApp{
        max-width: 134px;
    }




    .lastGroupInfo .addGroupInfo{
        width: 78%;
    }
}
