@media only screen and (max-width: 700px) {
    .owl-prev, .owl-next {
        display: none;
    }

    #panelFillterWithDog {
        width: 100%;
        margin-top: 75%;
        height: auto;
        margin-left: 10%;
    }
    .owl-carousel .owl-item img{
        display: none;
    }

    .filterDogIcon {
        display: none;
    }
    .slideImage, .slideLine{
        display: none;
    }
    .elseFunctionsText {
        display: inline-block;
        width: 330px;
        height: 160px;
        margin-top: 40%;
        margin-left: 0%;
        font-size: 16px;
        color: white;
        float: none;
        position: relative;
        text-align: center;
    }
    .elsePageSlideItem{
        text-align: center;
    }
    .elsePageBars{
        display: inline-block;
        z-index: 9999999;
        width: 400%;
        position: absolute;
        text-align: left;
        margin-left: 50%;
    }
}