@media only screen and (max-width: 700px) {

    .parallaxPage .homeBackground .searchPanel {
        margin-top: 6%;
    }
    .parallaxPage .homeBackground .searchPanel,
    .parallaxPage .homeBackground .panelFilters {
        width: 97%;
        min-width: 300px;
        margin-left: -48%;
    }

    .parallaxPage .homeBackground .panelFilters, .searchPanelEF, .panelFiltersEF{
        margin-top: 0%;
        margin-left: 0%;
        width: 96%;
        min-width: 272px;
        margin-bottom: 2%;
    }
    .searchPanelEF, .panelFiltersEF{
        min-width: 300px;
    }
    .parallaxPage .homeBackground .line1,
    .parallaxPage .homeBackground .line1EF {
        margin-top: 14px;
        height: auto;
    }
    .container12, .container12EF {
        margin-left: -11px;
        float: left;
        background-color: #59c6f2;
        border: 0px solid #ccc;
        color: white;
        cursor: pointer;
        display: inline-block;
    }

    /*.parallaxPage .homeBackground .container1 span,*/
    /*.parallaxPage .homeBackground .container1EF span,*/
    /*.parallaxPage .homeBackground .container12 span,*/
    /*.parallaxPage .homeBackground .container12EF span{*/
        /*text-transform: uppercase;*/
    /*}*/
    .parallaxPage .homeBackground .container1 span,
    .parallaxPage .homeBackground .container1EF span,{
        text-transform: uppercase;
    }

    .parallaxPage .homeBackground .container,
    .parallaxPage .homeBackground .container1,
    .panelFiltersEF .container1EF,
    .parallaxPage .homeBackground .container2,
    .parallaxPage .homeBackground .containerEF,
    .parallaxPage .homeBackground .container1EF,
    .parallaxPage .homeBackground .container2EF {
        display: none;
    }
    .parallaxPage .homeBackground .container1 span,
    .parallaxPage .homeBackground .container1EF span,
    .parallaxPage .homeBackground .container12 span,
    .parallaxPage .homeBackground .container12EF span {
        text-transform: uppercase;
    }
    .parallaxPage .homeBackground .container3,
    .line1EF .container3EF {
        margin-top: 9px;
        margin-left: -6px;
        width: 98%;
        display: block;
        position: relative;
    }
    .parallaxPage .homeBackground .container3lin1, .container3EF .container3lin1EF {
        height: 15px;
        margin-left: 0px;
    }
    .parallaxPage .homeBackground .container3lin1 span, .container3EF .container3lin1EF span {
        margin-right: 17px;
        font-size: 14px;
    }
    .container3lin1 .sentence, .container3lin1EF .sentenceEF {
        margin-left: 48%;
    }
    .container3lin1 .pilot, .container3lin1EF .pilotEF {
        margin-left: 25%;
    }
    .pilot, .pilotEF, .sentence, .sentenceEF, .requisites, .requisitesEF {
        display: none;
    }
    .stepStraight, .stepStraightEF, .container3lin2 .straight, .container3lin2EF .straightEF {
        width: 28.38888%;
    }
    .parallaxPage .homeBackground .selectPanel,
    .parallaxPage .homeBackground .selectPanelEF {
        margin-left: 1%;
        position: inherit;
        width: 90%;
        text-align: left;
    }

    .parallaxPage .homeBackground .selectInputHead {
         height: 40px;
         cursor: pointer;
         border-radius: 5px;
         z-index: 100;
     }
    .parallaxPage .homeBackground .searchInput,
    .parallaxPage .homeBackground .searchInputEF{
        width: 136px;
    }
    .filterButton span, .filterButtonEF span {
        margin-top: 13px;
        display: inline-block;
        margin-left: 29px;
        color: white;
        font-size: 11px;
    }
    .panelFilters, .panelFiltersEF{
        height: auto;
        min-height: 196px;
    }

    .searchPanel, .panelFilters{
        margin-left: 2%;
    }
    .selectInputBody, .selectInputBodyEF{
        width: 340px;
    }
    .pilot, .pilotEF, .sentence, .sentenceEF, .requisites, .requisitesEF{
        display: none;
    }
    .line2EF, .line2{
        text-align: center;
        margin-bottom: 15px;
    }
    .filterButton, .filterButtonEF {
        display: inline-block;
        text-align: center;
        width: 160px;
        height: 40px;
        border-radius: 50px;
        background-color: #6fa5d0;
        position: relative;
        margin-left: 0px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        text-transform: uppercase;
        margin-top: 21px;
        float: none;
    }
    .filterButton span, .filterButtonEF span{
        margin-left: 0px;
    }
    .selectInputHead, .selectInputHeadEF{
        text-align: left;
        width: 100%;
    }
    .selectPanelEF, .selectPanel{
        text-align: left;
        width: 90%;
        margin-left: 0px;
        margin-top: 2%;
    }
    .filterButtonEF{
        margin-bottom: 8px;
    }

    .parallaxPage .homeBackground .searchPanel{
        text-align: center;
    }
    .parallaxPage .homeBackground .panelTitle {
        width: 83%;
        min-width: 252px;
        margin-bottom: 2%;
        margin-top: 7%;
        margin-left: 5%;
        text-align: center;
    }
    .parallaxPages .parallaxPage .searchPanel .panelTitle span{
        font-size: 18px;
        font-size: 5.8vw;
        text-align: center;
    }
    .parallaxPages .homeBackground .searchPanel .panelTitle{
        margin-bottom: 4%;
    }

    .parallaxPage .homeBackground .panelTitle span,
    .parallaxPage .homeBackground .page1Title span,
    .parallaxPage .homeBackground .page2Title span,
    .parallaxPage .homeBackground .page3Title span,
    .parallaxPage .homeBackground .page4Title span {
        font-size: 19px;
    }

    .parallaxPage .panelTitle span{
        font-family: "Geometria Narrow Bold";
    }
    .parallaxPage .homeBackground .panelTitle span{
        font-family: "Geometria Narrow ExtraBold";
    }

    .line1, .line1EF{
        margin-top: 11px;
    }
}