@media only screen and (max-width: 700px){
    .header{
        height: 45px;
    }
    .toolbar{
        min-height: 35px;
        height: 45px;
    }
    .toolbar .menu{
        margin-top: 4px;
        margin-left: 13px;
    }
    .toolbar .kaskonomikaIcon{
        height: 20px;
        width: 164px;
        margin-left: 5px;
        margin-top: 9px;
        background-image: url(../../images/Kaskonomika_name_image.png);
        background-size: contain;

    }
    .toolbar .accountTelephone{
        display: none;
    }
    .toolbar .menuWorning{
        display: none;
    }
    .toolbar .accountIcon{
        /*background-color: #9ad8f5;*/
        background-color: #ffffff;
        margin-top: 0px;
        margin-right: 5%;
    }

    .toolbar .accountTelephone,.toolbar .menuWorning{
        display: none;
    }



























}