<div id="losses-page">
    <div class="row card">
        <div class="ta-center p-20" ng-if="!vm.lossesList && !vm.error">
            <i class="fa fa-spin fa-circle-o-notch fa-2x"></i>
        </div>
        <div ng-if="vm.lossesList && !vm.error">
            <div class="row search-area">
                <div class="col-lg-2">
                    <input class="form-control" ng-model="vm.searchArea" placeholder="Поиск..."/>
                </div>
            </div>
            <div ng-if="vm.lossesList && !vm.error" class="lossos-body">
                <table class="table table-striped tr-hover table-bordered">
                    <thead>
                    <tr>
                        <th>Заявление</th>
                        <th>Дата</th>
                        <th>№ полиса</th>
                        <th sort order="'insurer'" by="order" reverse="reverse">ФИО</th>
                        <th>VIN-номер</th>
                        <th>Гос. номер</th>
                        <th>Происшествие</th>
                        <th sort order="'event_type'" by="order" reverse="reverse">Событие</th>
                        <th>Описание события</th>
                        <th sort order="'status'" by="order" reverse="reverse">Статус</th>
                        <!--<th sort order="'insurance_company'" by="order" reverse="reverse">С.К.</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(key,row) in vm.lossesList | orderBy: order : reverse | filter: vm.searchArea track by $index" ng-click="vm.openModal(row.id)" ng-class="{'success': vm.id === row.id}">
                        <td>{{row.number}}</td>
                        <td>{{row.application_date | date:'dd.MM.yyyy'}}</td>
                        <td>{{row.policy_number}}</td>
                        <td>{{row.insurer}}</td>
                        <td>{{row.vin}}</td>
                        <td style="word-wrap: normal">{{row.reg_plate}}</td>
                        <td>{{row.event_date | date:'dd.MM.yyyy'}}</td>
                        <td>{{row.event_type}}</td>
                        <td>{{row.event_desc}}</td>
                        <td>{{row.status}}</td>
                        <!--<td>{{row.insurance_company}}</td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <http-error></http-error>
    </div>
</div>
