<hr/>
<div ng-if="vm.showAddPassport || vm.user.docs">
    <!-- Фамилия, Имя, Отчество -->
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label>Фамилия</label>
                <input class="form-control" ng-model="vm.user.last_name" ng-disabled="vm.user.havePassport"/>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>Имя</label>
                <input class="form-control" ng-model="vm.user.name" ng-disabled="vm.user.havePassport"/>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>Отчество</label>
                <input class="form-control" ng-model="vm.user.middle_name" ng-disabled="vm.user.havePassport"/>
            </div>
        </div>
    </div>
    <!-- Дата рождения, Пол, Отчество -->
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label>Дата рождения</label>
                <input type="date" ng-if="vm.user.havePassport" class="form-control" ng-value="vm.user.contractor.birth_date" disabled>
                <input type="date" ng-if="!vm.user.havePassport" class="form-control" ng-model="vm.user.contractor.birth_date" max="1999-09-25" min="1945-01-01">
            </div>
        </div>
        <div class="col-lg-8">
            <div class="form-group">
                <label>Пол</label>
                <div>
                    <div class="custom-radio" ng-click="!vm.user.sex ? vm.user.sex = '1' : null">
                        <input type="radio" ng-model="vm.user.sex">
                        <label ng-class="{'active': vm.user.sex == '1','color-gray':vm.user.havePassport}">
                            Мужчина
                        </label>
                    </div>
                    <div class="custom-radio" ng-click="!vm.user.sex ? vm.user.sex = '0' : null">
                        <input type="radio" ng-model="vm.user.sex">
                        <label ng-class="{'active': vm.user.sex == '0','color-gray':vm.user.havePassport}">
                            Женщина
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Документ, удостоверяющий личность, Серия документа, Номер документа -->
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label>Документ, удостоверяющий личность</label>
                <input class="form-control" value="Пасспорт РФ" disabled/>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>Серия / Номер документа</label>
                <input class="form-control" ng-model="vm.user.passportSn" mask="9999 999999" restrict="reject" ng-disabled="vm.user.havePassport"/>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label>Дата выдачи документа</label>
                <input type="date" ng-if="vm.user.havePassport" class="form-control" ng-value="vm.user.docs.issued_date" disabled>
                <input type="date" ng-if="!vm.user.havePassport" class="form-control" ng-model="vm.user.docs.issued_date">
            </div>
        </div>
    </div>
    <!-- Кем выдан документ, Дата выдачи документа -->
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label>Кем выдан документ</label>
                <input class="form-control" ng-model="vm.user.docs.issued" ng-disabled="vm.user.havePassport"/>
            </div>
        </div>
    </div>
    <!-- Прикрепление фото пасспорта-->
    <div class="row bottom-row" ng-if="!vm.user.havePassport">
        <div class="col-lg-4">
            <custom-upload index="1" doc="Первая страница паспорта"></custom-upload>
        </div>
        <div class="col-lg-4">
            <custom-upload index="2" doc="Страница с регистрацией"></custom-upload>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
<!-- Добавление нового документа -->
<div class="add-doc-area" ng-if="!vm.showAddPassport && !vm.user.docs">
    <a href class="plus-button" ng-click="vm.showAddPassport = !vm.showAddPassport">
        <i class="fa fa-plus-circle"></i>
        <span>Добавить документ, удостоверяющий личность</span>
    </a>
</div>
