<div ng-controller="carFinderController as vm" class="car-finder-area">
    <div class="row region-steps">
        <div class="col-lg-5 region-area">
            <span>Москва и московская область</span>
        </div>
        <div class="col-lg-7">
            <div class="steps-area">
                <div class="row title-area">
                    <div class="col-xs-3">
                        <span class="active"
                              ng-click="vm.findData.step > 4 ? vm.resetFinder({mark:' ',year:' ',model:' ',mod:' ',driver:' ',age:' ', exp:' '},1) : null">
                            Автомобиль
                        </span>
                    </div>
                    <div class="col-xs-3">
                        <span ng-class="{active: vm.findData.step > 4}"
                              ng-click="vm.findData.step > 4 && vm.findData.step < 9 ? vm.resetFinder({driver:' ',age:' ', exp:' '},5) : null">
                            Водители
                        </span>
                    </div>
                    <div class="col-xs-3">
                        <span>Предложения</span>
                    </div>
                    <div class="col-xs-3">
                        <span>Оформление</span>
                    </div>
                </div>
                <div class="row steps-progress">
                    <!-- 0% - 33% -- 66% --- 100% -->
                    <progress class="progress" max="100" value="{{vm.progressWidth()}}"></progress>
                    <div class="pointers">
                        <div class="col-xs-2 circle-area">
                            <span class="circle active"></span>
                        </div>
                        <div class="col-xs-4 circle-area">
                            <span class="circle" ng-class="{active: vm.findData.step > 4}"></span>
                        </div>
                        <div class="col-xs-4 circle-area">
                            <span class="circle"></span>
                        </div>
                        <div class="col-xs-2 circle-area">
                            <span class="circle"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="input-area">
        <div class="form-inline noselect">
            <div class="input-line" ng-click="vm.findData.step !== 8 ? vm.findData.is_open = true : null">
                <div ng-show="vm.findData.step < 5">
                    <div class="tag mark" ng-if="vm.findData.mark">
                        {{vm.findData.mark.mark}}
                        <i class="fa fa-close" ng-click="vm.resetFinder({mark:' ',year:' ',model:' ',mod:' '},1)"></i>
                    </div>
                    <div class="tag year" ng-if="vm.findData.year">
                        {{vm.findData.year}}
                        <i class="fa fa-close" ng-click="vm.resetFinder({year:' ',model:' ',mod:' '},2)"></i>
                    </div>
                    <div class="tag model" ng-if="vm.findData.model">
                        {{vm.findData.model.model}}
                        <i class="fa fa-close" ng-click="vm.resetFinder({model:' ',mod:' '},3)"></i>
                    </div>
                    <div class="tag mod" ng-if="vm.findData.mod">
                        {{vm.findData.mod.modification}}
                        <i class="fa fa-close" ng-click="vm.resetFinder({mod:' '},4)"></i>
                    </div>
                </div>
                <div ng-show="vm.findData.step >= 5">
                    <div class="tag driver" ng-if="vm.findData.driver">
                        {{vm.findData.driver.name}}
                        <i class="fa fa-close" ng-click="vm.resetFinder({driver:' ',age:' ',exp:' '},5)"></i>
                    </div>
                    <div class="tag age" ng-if="vm.findData.age">
                        {{vm.findData.age}} {{::vm.ageTitle(vm.findData.age)}}
                        <i class="fa fa-close" ng-click="vm.resetFinder({age:' ',exp:' '},6)"></i>
                    </div>
                    <div class="tag exp" ng-if="vm.findData.exp">
                        {{::vm.expTitle(vm.findData.exp)}}
                        <i class="fa fa-close" ng-click="vm.resetFinder({exp:' '},7)"></i></div>
                </div>
                <div class="tag title" ng-if="!vm.wait">
                    <span ng-if="vm.findData.step == 1">Марка автомобиля...</span>
                    <span ng-if="vm.findData.step == 2">Год выпуска...</span>
                    <span ng-if="vm.findData.step == 3">Модель...</span>
                    <span ng-if="vm.findData.step == 4">Модификаци...</span>
                    <span ng-if="vm.findData.step == 5">Количество водителей...</span>
                    <span ng-if="vm.findData.step == 6">Возраст...</span>
                    <span ng-if="vm.findData.step == 7">Стаж с...</span>
                    <span ng-if="vm.findData.step == 8"></span>
                </div>
                <div class="tag waiter" ng-if="vm.wait">
                    <i class="fa fa-spin fa-refresh"></i>
                </div>
            </div>
            <div class="button-line">
                <button class="btn btn-result" ng-click="vm.findResults()">
                    <span class="visible-lg visible-md">Рассчитать каско</span>
                    <span class="visible-sm visible-xs">Рассчитать</span>
                </button>
            </div>
        </div>
        <div class="row popover-area" ng-show="vm.findData.is_open">
            <div class="popover-text popover-mark" ng-if="vm.findData.step === 1">
                <div class="block-inline"
                     ng-repeat="row in vm.allData.marks track by $index"
                     ng-if="row.is_popular_mark == 1 || showAll"
                     ng-click="vm.getYear(row.mark); vm.findData.mark = row">
                    {{row.mark}}
                </div>
                <div class="show-more" ng-show="!showAll">
                    <span ng-click="showAll = !showAll">Показать все марки</span>
                </div>
            </div>
            <div class="popover-text popover-year" ng-if="vm.findData.step === 2">
                <div class="block-inline"
                     ng-repeat="row in vm.allData.year track by $index"
                     ng-click="vm.getModels(row); vm.findData.year = row">
                    {{row}}
                </div>
            </div>
            <div class="popover-text popover-model" ng-if="vm.findData.step === 3">
                <div class="block-inline"
                     ng-repeat="row in vm.allData.models track by $index"
                     ng-click="vm.getModification(row.model); vm.findData.model = row">
                    {{row.model}}
                </div>
            </div>
            <div class="row popover-text popover-mod" ng-if="vm.findData.step === 4">
                <div class="block-list"
                     ng-repeat="row in vm.allData.mods track by $index"
                     ng-click="vm.getDrivers(); vm.findData.mod = row">
                    {{row.modification}} / {{row.generation}}
                </div>
            </div>
            <div class="popover-text popover-driver" ng-if="vm.findData.step === 5">
                <div class="block-list"
                     ng-repeat="row in vm.allData.drivers track by $index"
                     ng-click="vm.getAges(); vm.findData.driver = row">
                    {{row.name}}
                </div>
            </div>
            <div class="popover-text popover-age" ng-if="vm.findData.step === 6">
                <div class="block-inline"
                     ng-repeat="row in vm.allData.age track by $index"
                     ng-click="vm.getExp(row); vm.findData.age = row">
                    {{row}}
                </div>
            </div>
            <div class="popover-text popover-exp" ng-if="vm.findData.step === 7">
                <div class="block-inline"
                     ng-repeat="row in vm.allData.exp track by $index"
                     ng-click="vm.finalStep(); vm.findData.exp = row">
                    {{row}}
                </div>
            </div>
        </div>
    </div>
    <div class="debug">
        {{vm.findData}}
    </div>
</div>