<div class="lossesModal">
    <div class="modal-header">
        <h4 class="modal-title pull-left" style="line-height: 34px">Заявление: {{vm.ld.number}} {{vm.ld.status}}</h4>
        <div class="btn-group pull-right">
            <a class="btn btn-success" target="_blank" href="https://api.kaskonomika.ru/v1/losses/applications/item/{{vm.id}}?token={{vm.token}}&files=1"><i class="fa fa-file-archive-o"></i> Сохранить в ZIP</a>
            <a class="btn btn-primary" target="_blank" href="{{vm.ld.print}}"><i class="fa fa-file-archive-o"></i> Посмотреть в PDF</a>
            <a class="btn btn-danger" target="_blank" href="{{vm.ld.crash_reports[0]}}" ng-if="vm.ld.crash_reports[0]"><i class="fa fa-file-archive-o"></i> Отчет о ДТП</a>
        </div>
    </div>
    <div class="modal-body modal-body-notification text-center">
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Полис</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Страховая компания</dt>
                            <dd>{{vm.ld.insurance_company || '---'}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Договор</dt>
                            <dd>{{vm.ld.number || '---'}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Период действия договора</dt>
                            <dd>{{vm.ld.policy_begin_date | date:'dd.MM.yyyy'}} - {{vm.ld.policy_end_date | date:'dd.MM.yyyy'}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>ФИО страхователя</dt>
                            <dd>{{vm.ld.policy_insurer_name || '---'}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Телефон</dt>
                            <dd>{{vm.ld.policy_insurer_phone || '---'}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>E-mail</dt>
                            <dd>{{vm.ld.policy_insurer_email || '---'}}</dd>
                        </dl>
                    </div>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Автомобиль</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Марка / Модель</dt>
                            <dd>{{vm.ld.policy_object_mark || '---'}} {{vm.ld.policy_object_model || '---'}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>VIN-номер</dt>
                            <dd>{{vm.ld.policy_object_vin || '---'}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Гос. номер</dt>
                            <dd>{{vm.ld.policy_object_number || '---'}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Год выпуска</dt>
                            <dd>{{vm.ld.policy_object_year || '---'}}</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Данные о происшествии</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Дата происшествия</dt>
                            <dd>{{vm.ld.event_date}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Время происшествия</dt>
                            <dd>{{vm.ld.event_time}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Дата заявления</dt>
                            <dd>{{vm.ld.application_date}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Тип события</dt>
                            <dd>{{vm.ld.event_type}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Описание события</dt>
                            <dd>{{vm.ld.event_variant}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Обстоятельства происшествия</dt>
                            <dd>{{vm.ld.info || '--'}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Адрес происшествия</dt>
                            <dd>{{vm.ld.address.address}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Пробег авто</dt>
                            <dd>{{vm.ld.mileage | number}} км.</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Заявлено о СС в</dt>
                            <dd>{{vm.ld.claimed || '--'}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Данные по водителю</dt>
                            <dd>{{vm.ld.driver.name}}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Данные второго участника</dt>
                            <dd>{{vm.ld.second_participant.status}}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <hr ng-if="vm.ld.photos.length > 0"/>
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline" lightbox="vm.ld.photos">
                    <li ng-repeat="(key,row) in vm.ld.photos track by $index" class="thumbnail">
                        <div class="list-item">
                            <a href="{{row}}" class="lightbox-trigger">
                                <img ng-src="{{row}}"/>
                            </a>
                            <span class="title">{{vm.ld.titles[key]}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <hr/>
        <div class="row comments-area">
            <div class="col-lg-12">
                <h4>Примечания к заявлению <button class="btn btn-success btn-xs" ng-click="vm.showForm = !vm.showForm" ng-if="!vm.showForm">Добавить</button></h4>
                <form class="form-inline mb-20" ng-if="vm.showForm">
                    <div class="form-group">
                        <input ng-model="vm.commentLosses" class="form-control" placeholder="Отсавить комментарий о заявлении"/>
                    </div>
                    <button class="btn btn-success" ng-click="vm.saveComment('application',vm.commentLosses)">Сохранить</button>
                </form>
                <div class="comments-list" ng-if="vm.commentsApp">
                    <blockquote ng-repeat="row in vm.commentsApp track by $index">
                        <footer>{{row.created_at*1000 | date:'dd.MM.yyyy HH:mm'}} - {{row.status}} - {{row.email}} <i class="fa fa-trash-o" ng-click="vm.deleteComment(row.id,'application')"></i></footer>
                        <p>{{row.comment}} <i class="fa fa-pencil" ng-click="vm.editComment(row,'application')"></i> <em ng-if="row.is_updated === '1'"><small class="color-red">Отредактировано</small></em></p>
                    </blockquote>
                </div>
                <div class="ta-center mt-10"  ng-if="!vm.commentsApp">
                    <i class="fa fa-circle-o-notch fa-spin fa-2x color-blue"></i>
                </div>
            </div>
            <!--<div class="col-lg-6">
                <h4>Комментарии к статусу</h4>
                <form class="form-inline">
                    <div class="form-group">
                        <input ng-model="vm.commentStatus" class="form-control" placeholder="Отсавить комментарий о статусе"/>
                    </div>
                    <button class="btn btn-success" ng-click="vm.saveComment('status',vm.commentStatus)">Сохранить</button>
                </form>
                <div class="comments-list" ng-if="vm.commentsStatus">
                    <blockquote ng-repeat="row in vm.commentsStatus track by $index">
                        <footer>{{row.created_at*1000 | date:'dd.MM.yyyy HH:mm'}} - {{row.status}} - {{row.email}} <i class="fa fa-trash-o" ng-click="vm.deleteComment(row.id,'status')"></i></footer>
                        <p>{{row.comment}} <i class="fa fa-pencil" ng-click="vm.editComment(row,'status')"></i> <em ng-if="row.is_updated === '1'" ><small class="color-red">Отредактировано</small></em></p>
                    </blockquote>
                </div>
                <div class="ta-center mt-10"  ng-if="!vm.commentsStatus">
                    <i class="fa fa-circle-o-notch fa-spin fa-2x color-blue"></i>
                </div>
            </div>-->
        </div>
    </div>
    <!--<div class="modal-footer">

    </div>-->
</div>