<div class="container-fluid active" id="header" ng-controller="headerController as vm">
    <div class="sub-menu pull-left col-lg-3 col-md-6 col-sm-6 col-xs-9">
        <ul class="list-inline">
            <li class="sub-menu-icon">
                <i class="fa fa-bars fa-2x noselect" ng-click="vm.openOverlay = !vm.openOverlay"></i>
            </li>
            <li class="sub-menu-logo">
                <a href="/" class="noselect"><img src="/src/img/base/logo-sm.png"/></a>
            </li>
        </ul>
        <!-- START : Оверлей для открывающего меню -->
        <div id="header-overlay" ng-if="vm.openOverlay">
            <div class="container-fluid">
                <div class="menu-area pull-left col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="logo-area">
                        <ul class="list-inline noselect">
                            <li class="sub-menu-icon noselect">
                                <i class="fa fa-times fa-2x noselect" ng-click="vm.openOverlay = !vm.openOverlay"></i>
                            </li>
                            <li class="sub-menu-logo noselect">
                                <a href="/" class="noselect hidden-xs"><img src="/src/img/base/logo-sm.png"/></a>
                                <span class="visible-xs sub-menu-logo-mobile">+7 499 550-00-09</span>
                            </li>
                        </ul>
                    </div>
                    <div class="overlay-menu-area">
                        <div class="overlay-main-menu hidden-lg">
                            <ul>
                                <li ng-repeat="item in vm.mainMenu track by $index">
                                    <a href="{{::item.url}}">{{::item.text}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="overlay-sub-menu">
                            <ul>
                                <li ng-repeat="item in vm.subMenu track by $index">
                                    <a href="{{::item.url}}">{{::item.text}}</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="click-outside-area pull-left col-lg-9 col-md-6 col-sm-6 hidden-xs noselect" ng-click="vm.openOverlay = !vm.openOverlay"></div>
            </div>
        </div>
        <!-- END : Оверлей для открывающего меню -->
    </div>
    <div class="main-menu pull-left col-lg-5 hidden-md hidden-sm hidden-xs">
        <ul class="list-inline">
            <li ng-repeat="item in vm.mainMenu track by $index">
                <a href="{{::item.url}}">{{::item.text}}</a>
            </li>
        </ul>
    </div>
    <div class="user-menu pull-right col-lg-4 col-md-6 col-sm-6 col-xs-3">
        <ul class="list-inline">
            <li class="hidden-sm hidden-xs">
                <div class="user-dashboard-area">
                    <i class="fa fa-user fa-2x"></i>
                </div>
            </li>
            <li class="phone-area hidden-sm hidden-xs">
                <span>+7 499 550-00-09</span>
            </li>
            <li class="calc-area">
                <div class="header-calc">
                    <i class="fa fa-calculator"></i>
                    <span class="hidden-xs">Рассчитать Каско</span>
                </div>
            </li>
        </ul>
    </div>
</div>
