
@media screen and (min-width: 1440px){

	.faqNotesItem{
		width: 200px;
	}

	.faqHeaderDogIcon{
		height: 186px;
		width: 180px;
		float: left;
		margin-top: -128px;
		margin-left: -168px;
		position: relative;
		background-image: url(../../images/faq/search_dog_desktop_iceon.png);
	}
	.faqHeaderTitleText{
		margin-top: 14px;
	}
	.faqHeaderSearch{
		height: auto;
		margin-top: 24px;
	}
	.faqHeaderSearch .inputBlog{
		margin-left: 394px;
    	width: 43%;
	}
	.faqHeaderButtonItem{
		float: left;
		margin-top: 0.65%;
		height: 39px;
		margin-left: 38px;
		cursor: pointer;
	}
	.faqHeaderContent{
		margin-top: 0px;
		width: auto;
		display: block;
	}
	.faqNotes{
		margin-top: 60px;
    	margin-right: 104px;
	}
	.faqGroups, .dontFoundBlock{
		margin-left: 100px;
	}
	.faqGroupsContext{
	    margin-bottom: 10px;
	}
	.faqGroupItem{
	    padding-left: 36px;
	}
	.faqGroupItemBody span {
	    font-size: 16px;
		display: inline;
		width: 95%;
	}

}

