@media only screen and (min-width: 1440px){
    .parallaxPages .parallaxPage .pageBody span{
        line-height: 200%;
    }
    .parallaxPages .parallaxPage .itemToCenter span{
        line-height: 150%;
    }
    .parallaxPages .parallaxPage .page1Panel .pageBody{
        margin-top: 9%;
    }
    .parallaxPages .parallaxPage .page4Item{
        margin-top: 10px;
        margin-bottom: 0px;
    }
}
