@media only screen and (min-width: 1440px){
    .phone{
        margin-left: 7.5%;
        margin-top: 7.5%;
    }
    .phone .phoneBody{
        height: 100%;
        width: 100%;
    }
    .phone .phoneBody .phoneDisplay{
        width: 79.5%;
        height: 72%;
    }
}