@media only screen and (min-width: 1440px){
    .panelFiltersEF {
        float: right;
    }

    .parallaxPages .parallaxPage .searchPanel{
        margin-left: -16.5%;
        margin-top: 8%;
        width: 57%;
        height: auto;
        min-height: 280px;
        min-width: 320px;
    }
    .parallaxPages .homeBackground .searchPanel .panelTitle{
        margin-bottom: 14%;
        width: 82%;
        margin-left: 4%;
        margin-top: 0.4%;
    }
    .panelFilters, .panelFiltersEF{
        width: 100%;
        height: 142px;
        width: 822px;
    }

    .sentence, .sentenceEF, .pilot, .pilotEF, {
        margin-left: 0px;
    }
    .container3lin1 span, .container3lin1EF span{
        display: inline-block;
    }
    .container, .container1, .container2, .containerEF, .container1EF, .container2EF{
        display: inline-block;
        margin-top: 2%;
    }
    .container12, .container12EF{
        display: none;
    }
    .container3lin1, .container3lin1EF{
        min-width: 115%;

    }
    .container3, .container3EF{
        display: inline-block;
        float: right;
        position: relative;
        margin-right: 1%;
        width: 57%;
        margin-top: 1.5%;
    }
    .panelFilters, .panelFiltersEF{
        margin-left: 0px;
    }
    .line1, .line1EF{
        margin-left: 3.6%;
        margin-top: 1%;
        height: 35%;
    }
    .line2, .line2EF{
        height: 35%;
        margin-left: 3.6%;
    }
    .selectPanel, .selectPanelEF{
        min-width: 343px;
        margin-left: 0%;
        margin-top: 1%;
        width: 73.5%;
    }



}