<div id="dashboard-insurance-list">
    <div class="container-fluid">
        <div class="row row-db">
            <div class="col-lg-2 dashboard-menu">
                <ng-include src="'/dashboard/menu/dashboard-menu.html'"></ng-include>
            </div>
            <div class="col-lg-10 dashboard-body">
                <div class="container events-area">
                    <button class="btn btn-kasko">Создать заявление о страховом случае</button>
                    <div ng-if="vm.lossesList.length > 0">
                        <div class="row events-head-history">
                            <span class="events-history">Ваши заявления</span>
                        </div>
                        <div class="row events-list">
                            <div class="item" ng-repeat="row in vm.lossesList | limitTo: 50 | orderBy: '-create_date' track by $index">
                                <div class="row item-head">
                                    <span class="head-text pull-left">Дата заявления: {{row.create_date}}</span>
                                    <span class="head-text pull-right">Номер заявления: {{row.id}}</span>
                                </div>
                                <div class="row item-body">
                                    <span class="item-text pull-left">Страховая компания: <b>{{row.insurance_company}}</b></span>
                                    <span class="item-text-angle pull-right">Статус: {{row.losses_applications_status}}</span>
                                </div>
                                <div class="row item-car">
                                    <span class="car-text">Номер полиса автомобиля: {{row.policy_number}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="error-events-area" ng-if="vm.lossesList.length === 0">
                        <h3>Вы еще не составляли ни одного заявления об обытках</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



