



@media screen and (max-width: 1439px) {
    .toolbar .accountTelephone {
        display: none;
    }
}

@media screen and (max-width: 750px) and (max-width: 1439px){
    .calc{
         margin-left: 1%;
    }
}

@media screen and (min-width: 700px) and (max-width: 720px){
    .faqHeaderSearch input{
        width: 55%
    }
    .calc{
         display: none;
    }
}
@media screen and (min-width: 720px){
    .faqHeaderSearch input{
        width: 65%
    }
}


@media screen and (min-width: 700px){

    .faqGroupsContext, .textAboutButton{
        display: inline-block;
        color: #b8b8b8;
    }
    .faqGroupsContext{
        margin-bottom: 67px;
    }

    .faqNotes{
        display: inline-block;
        float: right;
        width: 309px;
        margin-bottom: 15px;
        margin-top: 43px;
    }
    .faqGroups, .dontFoundBlock{
        display: inline-block;
        width: 394px;
        margin-right: 5px;
    }
    .faqGroupItem{
        padding-left: 27px;
        padding-top: 19px;
        margin-left: 24px;
        width: 329px;
    }
    .faqGroupItemTitle{
        font-size: 20px;
    }
    .textAboutButton{
        margin-right: 15px;
        margin-top: 18px;
        font-size: 12px;
        margin-left: 66%;
    }

    /*.toolbar{*/
        /*min-height: 71px;*/
    /*}*/
    /*.toolbar .menu{*/
        /*margin-left: 30px;*/
        /*margin-top: 17px;*/
    /*}*/
    /*.toolbar .kaskonomikaIcon{*/
        /*height: 40px;*/
        /*width: 224px;*/
        /*margin-left: 22px;*/
        /*margin-top: 5px;*/
        /*background-size: contain;*/
    /*}*/
    /*.toolbar .kaskonomikaIcon{*/
        /*margin-top: 17px;*/
    /*}*/
    /*.toolbar .accountIcon{*/
        /*margin-top: 12px;*/
        /*margin-right: 0.6%;*/
    /*}*/
    /*.toolbar .menuWorning{*/
        /*display: inline-block;*/
        /*margin-right: 0%;*/
        /*margin-left: 5px;*/
    /*}*/
    /*.toolbar .accountTelephone{*/
        /*margin-right: 0px;*/
        /*display: inline-block;*/
        /*margin-top: 22px;*/
    /*}*/



    .faqHeader{
        height: 249px;
    }
    .faqHeaderTitle{
        margin-top: 66px;
        height: 40px;
    }
    .faqHeaderTitleText{
        font-size: 35px;
    }
    .faqHeaderDogIcon{
        background-image: url('../../images/faq/search_dog_icon_tablet.png');
        margin-top: -108px;
        width: 139px;
        position: relative;
        float: left;
        margin-left: -82%;
    }
    .faqHeaderSearch input{
            margin-top: 12px;
            margin-left: 117px;
    }
    .faqGroupsHead{
        margin-top: 38px;
        padding-left: 20px;
        margin-bottom: 18px;
    }
    .faqGroupsTitle{
        padding-left: 4px;
        font-size: 20px;
    }
    .faqGroupsTitleButton{
        margin-top: 21px;
        margin-right: 0px; 
    }
    .faqHeaderButtonItem{
        float: right;
        margin-top: -56px;
        margin-right: 21px;
    }
    .leftSide .contacts{
        float: right;
        display: inline-block;
        width: 400px;
        height: 240px;
        margin-top: 66px;
        margin-left: 0px;
        margin-right: 8%;
    }
    .footer .company{
        width: 400px;
    }
    .footer .apps{
        margin-top: 65px;
        margin-right: 80px;
    }
    .apps .AppleApp, .apps .androidApp{
        width: 100%;
    }
    .mobileContacts{
        display: none;
    }
    .footer .rightSide{
        width: 30%
    }
    .footer .leftSide{
        width: 69%
    }
    .footer .socialCompany{
        margin-top: 38px;
        margin-left: 10px;
    }
}


@media screen and (min-width: 700px) and (max-width: 1439px){

    .calc img{
        margin-top: 8px;
    }
    .calc a{
        padding: 12px 16px;
    }

    .faqHeaderButtonItem{
        margin-top: 12px;
        height: 80%;
    }

    .faqHeaderTitle{
        margin-top: 1px;
    }
    .faqHeaderDogIcon{
        background-image: url('../../images/faq/search_dog_icon_tablet.png');
        margin-top: -44px;
        width: 139px;
        position: relative;
        float: left;
        margin-left: -81%;
    }

    .calc {
        background-color: black;
        color: white;
        border-radius: 28px;
        width: 180px;
        margin-top: 11px;
        display: inline-block;
        margin-left: 7.7%;
        height: 38px;
    }
    .creativePeople{
        margin-left: -22%;
    }
    .footer .leftSide, .footer .rightSide{
        display: none;
    }
    .footer .tabletLine1, .footer .tabletLine2{
        display: inline-block;
        width: 100%;
        height:100%;
        text-align: center;
    }
    .footer .tabletLine3{
        display: inline-block;
        width: 89%;
        height:100%;
        text-align: center;
    }
    .tabletLine1 .socialCompany{
        float: right;
    }
    .footer .socialCompany{
        margin-top: 192px;
    }
    .footer .company{
        width: 300px;
    }
    .footer .apps{
        margin-top: 65px;
        float: right;
        margin-right: -200px;
    }
    .footer .contacts{
        float: none;
    }
    .tabletLine2 .contacts{
        display: inline-block;
            height: 207px;
            margin-top: 3%;
            margin-left: 0%;
    }
    .tabletLine3 .contactFooter{
        float:left;
        margin-top: 0%;
        margin-bottom: 0%;
        display: inline-block;
    }
    .tabletLine3 .creativePeople{
        float:right;
        margin-top: 0%;
        margin-bottom: 0%;
        display: inline-block;
    }

}
