@media only screen and (min-width: 700px) and (max-width: 1440px) {
    .panelFiltersEF{
        position: absolute;
    }
    .filterDogIcon{
        margin-top: -4px;
    }
    .panelDog{
        margin-top: -211px;
    }
    .slideImage{
        margin-left: 3%;
    }

}
@media only screen and (min-width: 700px) and (max-width: 1100px) {
    .slideImage{
        position: relative;
        float: right;
        width: calc(91% - 400px);
    }
    .elseFunctionsText{
        margin-top: 30%;
    }
}

@media only screen and (min-width: 700px) and (max-width: 999px) {
    .owl-next, .owl-prev {
        display: none;
    }
    .filterButtonEF span{
        margin-left: 0px;
    }
    #panelFillterWithDog {
        width: 100%;
        height: auto;
        margin-left: 6%;
    }
    .filterDogIcon {
        /*display: none;*/
        margin-left: -94px;
    }
    .panelFilters, .panelFiltersEF{
        padding-bottom: 15px;
    }

    .panelFiltersEF{
        margin-top: -1%;
    }

}