@media only screen and (min-width: 700px) and (max-width: 1439px){
    .pilot, .pilotEF, .sentence, .sentenceEF, .requisites, .requisitesEF {
        display: none;
    }
    .panelFilters, .panelFiltersEF {
        width: 594px;
    }
    .line1 {
        height: 34px;
    }
    .container12, .container12EF {
        display: block;
        margin-left: 4px;
    }
    .container1 span, .container1EF span, .container12 span, .container12EF span {
        text-transform: uppercase;
    }
    .container, .container1, .container2, .containerEF, .container1EF, .container2EF {
        display: none;
    }

    .container1 span, .container1EF span, .container12 span, .container12EF span {
        text-transform: uppercase;
    }
    .container3 {
        margin-top: -12px;
    }
    .container3, .container3EF {
        margin-left: 58px;
    }
    .container3lin1 span {
        margin-right: 17px;
    }
    .stepStraight, .container3lin2 .straight, .stepStraightEF, .container3lin2EF .straightEF {
        width: 105px;
    }
    .selectPanel, .selectPanelEF {
        width: 343px;
        text-align: left;
    }
    .searchInput, .searchInputEF {
        width: 136px;
    }
    .selectInputBody, .selectInputBodyEF {
        width: 343px;
    }
    .selectInputBodydivRow, .selectInputBodydivRowEF {
        width: 45%;
    }
    .selectInputBody .mark, .model, .year, .selectInputBodyEF .mark, .model, .year {
        height: auto;
    }
    .selectInputBodydivRow, .selectInputBodydivRowEF{
        width: 45%;
    }
    .container3lin1 span{
        margin-right: 17px;
    }
    .pilot, .pilotEF, .sentence, .sentenceEF, .requisites, .requisitesEF{
        display: none;
    }
    .pilot, .pilotEF {
        margin-left: 22%;
    }
    .sentence, .sentenceEF {
        margin-left: 48%;
    }
    .panelFilters, .panelFiltersEF{
        height: 122px;
        margin-left: 4%;
    }
    .filterButton, .filterButtonEF{
        margin-right: 5.5%;
        margin-top: 0%;
    }

}
@media only screen and (min-width: 700px) and (max-width: 999px) {

    .line2EF, .line2{
        text-align: center;
    }

    .panelFilters, .panelFiltersEF {
        margin-top: -7%;
        min-height: 142px;
        height: auto;
        padding-bottom: 21px;
    }

    .selectPanel, .selectPanelEF {
        width: 90%;
        margin-left: 0px;
    }
    .parallaxPages .parallaxPage .page2Title span, .parallaxPages .parallaxPage .page3Title span, .parallaxPages .parallaxPage .page4Title span{
        font-size: 38px;
    }

    .filterButton, .filterButtonEF {
        display: inline-block;
        text-align: center;
        width: 160px;
        height: 40px;
        border-radius: 50px;
        background-color: #6fa5d0;
        position: relative;
        margin-left: 6%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        text-transform: uppercase;
        margin-top: 19px;
        float: none;
    }
    .filterButton span{
        margin-left: 0px;
    }
    .parallaxPages .parallaxPage .panelTitle{
        width: 60%;
    }
    .selectInputBody, .selectInputBodyEF{
        width: 340px;
    }
}